################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Audivia.API/Audivia.API/appsettings.json
/Audivia.API/Audivia.API/appsettings.Development.json
.vs
Audivia.API/docker-compose.yml
